@model IEnumerable<DynamicPriceCore.Models.Company>

@{
	ViewData["Title"] = "Index";
}

<h1>Active Companies</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CompanyId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					<a asp-action="CompanyProducts" asp-route-id="@item.CompanyId">Select</a>
				</td>
			</tr>
		}
	</tbody>
</table>
