.price-monitor {
	width: 340pt;
	height: 175pt;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 10px 0;
	background-color: #f0f0f0;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
	border-radius: 5px;
}
.price-change {
	margin-left: 8px;
	font-weight: bold;
}

.price-up {
	color: green;
}

.price-down {
	color: red;
}