@model DynamicPriceService.ViewModels.PriceRuleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PriceRule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PriceRuleId" />
            <div class="form-group">
                <label asp-for="Increase" class="control-label"></label>
                <input asp-for="Increase" class="form-control" />
                <span asp-validation-for="Increase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reduction" class="control-label"></label>
                <input asp-for="Reduction" class="form-control" />
                <span asp-validation-for="Reduction" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="NoSellTime" class="control-label"></label>
				<input asp-for="NoSellTime" class="form-control" />
				<span asp-validation-for="NoSellTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
